---
- name: Configurar VM com pacotes básicos
  hosts: targets
  become: true

  tasks:
    - name: Atualizar lista de pacotes
      apt:
        update_cache: yes

    - name: Instalar pacotes úteis
      apt:
        name:
          - htop
          - curl
          - git
        state: present
